node_modules/
venv/
env/
.venv/
__pycache__/
*.pyc
.env
*.log
.idea/
.vscode/
dist/
build/
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.pkl
*.zip
*.rar
*.7z
*.mp4
*.avi
*.mov
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.db
*.sqlite3
*.h5
*.npy
staticfiles/
runtime_tmp_ascii/
runtime_cache/
.DS_Store
